<h2>This is Colors.io! </h2>

<p> A lean mean color finding machine. </p>
<p>Meet all your color needs here at Colors.io.</p>
<p> Try our random color generating engine to get your own Color of the Day! </p>
