<h2 style="text-align: center"> Color of the Day!</h2>

<div class="cardbig">
    <div class="colorbig" style="background-color: <%= hexCode %>" >
    </div>
    <div class="infobig">
    <h3> <%= name %> </h3>
    <p> <%= hexCode %> </p>
    </div>
</div>
